body {
  background-color: #2e2759 !important;
  color: white;
}

main, #studentCarousel {
  background-color: #2e2759;
  color: oldlace;
  display: inline-block;
  margin: auto;
  text-align: center;
}

#studentCarousel p {
  padding: 15px 0 15px 0;
}

.portrait {
  height: 300px;
  border: 1px solid oldlace;
  padding: 15px;
  background-color: #483d8b;
}

.glyphicon {
  height: 50px;
  width: 50px;
  color: #2e2759;
}
