body {
    background-color: #2e2759 !important;
    color: white;
}

strong {
    font-size: 64px;
}

main, #studentCarousel {
    background-color: #2e2759;
    color: oldlace;
    display: inline-block;
    margin: auto;
    text-align: center;
}

#studentCarousel p {
    padding: 15px 0 15px 0;
}

#studentDisplay {
  border: 1px solid oldlace;
  background-color: #483d8b;
  width: 500px;
  margin: 0 auto 30px auto;
}

.portrait {
    height: 300px;
    padding: 15px;
}

#buttonBar {
    vertical-align: top;
}

button {
    width: 50px;
    height: 50px;
    padding: 0 !important;
    margin: 5px !important;
    vertical-align: top;
}

.student-button img {
    border: 1px solid #2e2759;
    width: 45px;
    overflow: hidden;
}

.glyphicon {
    height: 50px;
    width: 50px;
    color: #2e2759;
}
